.u-section-1 .u-sheet-1 {
  min-height: 410px;
}

.u-section-1 .u-image-1 {
  width: 225px;
  height: 300px;
  margin: 50px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    inset: auto;
  }
}